@import "../../styles/variables";

.card {
  width: 360px;
  margin: 10px;
  padding: 16px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #ecebe9;
  background-color: $white;
  .card-title {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $black;
    text-transform: uppercase;
  }
  .card-body {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: $black;
    min-height: 200px;
  }
  .card-action {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    .see-stat{
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: right;
      color: $brown;
      margin-right: 3px;
    }

  }
}
